@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This site allows rating of resources on the web.</p>
<p>It is a curated search engine.</p>
<p>And it is curated by you.</p>
