@model UsefulSites.Web.ViewModels.MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h2>Search</h2>
        <textarea></textarea>
    </div>
</div>

<div class="row">
    <div class="jumbotron">
        <h2>Top Picks</h2>
    </div>

    @foreach (var resourceType in Model.TopResources)
    {
        <table class="table table-striped table-hover">
            <tbody>
                @foreach (var resource in resourceType.Resources)
                {
                    <tr>
                        <td>@resource.Name</td>
                        <td>@resource.Description</td>
                    </tr>
                }

            </tbody>
        </table>

    }
</div>

<div class="row">
    <div class="jumbotron">
        <h2>Top Categories</h2>
    </div>
    <table class="table table-striped table-hover">
        <tbody>

            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td>@category.WebSiteModels.Count()</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="/WebSites/WebSiteList">All Resources</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Recommend</h2>
        <a href="">Go to</a>
    </div>
</div>
