@model UsefulSites.Web.ViewModels.MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Top</h2>
        <table>
            <tbody>
                <tr></tr>
            </tbody>
        </table>

        <p>List of top sites by rating </p>
        <p>and recency will go here</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>All</h2>
        <a href="/WebSites/WebSiteList">Go to</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Recommend</h2>
        <a href="">Go to</a>
    </div>
</div>
