@model UsefulSites.Web.ViewModels.MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Top</h2>
        @foreach (var resourceType in Model.TopResources)
        {
            <h1>@resourceType.ResourceTypeModel.Name</h1>
            <h2>@resourceType.ResourceTypeModel.Description</h2>

            @foreach (var resource in resourceType.Resources)
            {
            <table>
                <tbody>
                    <tr>
                        <td>@resource.Name</td>
                        <td>@resource.Description</td>
                    </tr>
                </tbody>
            </table>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>All</h2>
        <a href="/WebSites/WebSiteList">Go to</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Recommend</h2>
        <a href="">Go to</a>
    </div>
</div>
