@model UsefulSites.Web.ViewModels.WebSiteAddViewModel

@{
    ViewData["Title"] = "Add New Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Submit a new site</p>

<div class="danger">Model.Error</div>

<form asp-controller="WebSites" asp-action="AddSite" method="post">
    <div class="form-group">

        <label asp-for="Url" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Url"></textarea>
        </div>

        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description"></textarea>
        </div>
    </div>
    <button type="submit" class="img-rounded btn-danger">Submit</button>
</form>