@model UsefulSites.Web.ViewModels.WebSiteViewModel

@{
    ViewData["Title"] = "Site Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Model.WebSite.Url</p>

<p>@Model.WebSite.Description</p>

