@model UsefulSites.Web.Models.WebSiteListModel

@{
    ViewData["Title"] = "Web Site List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sites</h2>

@foreach (var category in Model.Categories.OrderBy(a => a.CategoryName))
{
    <h1>@category.CategoryName</h1>

    <table class="table">
        <tbody>
            @foreach (var item in category.WebSiteModels)
            {
                <tr>
                    <td>
                        @item.Url
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>

    </table>
}