@model UsefulSites.Web.Models.WebSiteListModel

@{
    ViewData["Title"] = "Web Site List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sites</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>

    @foreach (var category in Model.Categories.OrderBy(a => a.CategoryName))
    {
        <h1>@category.CategoryName</h1>

        <tbody>
            @foreach (var item in category.WebSiteModels)
            {
                <tr>
                    <td>
                        @item.Url
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    }
    </table>
